main {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--bg-clarinho);
}

.faq {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    background-color: #fdfcfb;
    border-radius: 10px;
    box-shadow: -4px 10px 34px -1px rgba(112, 112, 112, 0.25);
    -webkit-box-shadow: -4px 10px 34px -1px rgba(112, 112, 112, 0.25);
    -moz-box-shadow: -4px 10px 34px -1px rgba(112, 112, 112, 0.25);
}

.faq-titulo {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--roxo-escuro);
}

.faq-item {
    margin-bottom: 1.5rem;
}

.faq-toggle {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--azul-principal);
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.faq-toggle:hover {
    color: var(--roxo-escuro);
}

.faq-toggle .icon {
    font-size: 1.1rem;
    color: var(--azul-principal);
    transition: transform 0.3s;
}

.faq-pergunta {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--verde-escuro2);
    margin-bottom: 0.5rem;
}

.faq-resposta {
    margin-left: 2rem;
    font-size: 1rem;
    color: var(--texto-escuro);
    line-height: 1.5;
    margin-top: 0.5rem;
    background-color: var(--amarelo-claro);
    padding: 0.8rem 1rem;
    border-left: 4px solid var(--azul-principal);
    border-radius: 4px;
}

.hidden {
    display: none;
}
