* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background-color: var(--bg-clarinho);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 3rem 2rem;
    
}

.hero {
    background-color: var(--bg-clarinho);
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.hero-text {
    flex: 1 1 50%;
}

.hero-text h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    color: var(--roxo-escuro);
     margin-bottom: 1rem;
}

.hero-text p {
    font-size: clamp(1rem, 2.2vw, 1.25rem);
    margin-bottom: 1.5rem;
    color: #444;
}

.botaoChamada {
    display: inline-block;
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
    background-color: var(--verde-escuro);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.botaoChamada:hover {
    background-color: #00352c;
}

.hero-img-container {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.servicos {
    background-color: var(--quase-branco);
    width: 100%;
}

.tituloSessao {
    text-align: center;
    font-size: 32px;
    color: var(--roxo-escuro);
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 30px 20px;
    text-align: center;
    width: 90%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.card h3 {
    font-size: 22px;
    color: var(--verde-escuro);
    margin-bottom: 12px;
}

.card p {
    text-align: left;
    font-size: 1.2rem;
    color: #555;
}

@media (max-width: 768px) {
    .hero-img {
        display: none;
    }
    .card p{
        font-size: 1rem;
    }
}
@media (max-width: 600px) {
    .hero-text h2{
        font-size: 28px;
    }
    .hero-text p{
        font-size: 16px;
    }
    .botaoChamada{
        font-size: 0.8rem;
    }
}